/* * */

.tags {
  margin: 10px 0;
}

.tags .badge {
  margin-right: 10px;
}

small {
  font-size: 0.6em;
}

.url {
  color: #777;
}

.url:hover {
  color: #444;
  cursor: pointer;
}

/* carousel */

.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

.carousel-caption h1,
.carousel-caption p {
  text-shadow: 2px 0 2px #838383, -2px 0 2px #838383, 0 2px 2px #838383,
    0 -2px 2px #838383;
}

.carousel-caption p button a {
  text-shadow: none;
  color: #fff;
  text-decoration: none;
}

.carousel-item {
  height: 32rem;
}

.carousel-item .imgContainer {
  display: flex;
  justify-content: center;
}

.carousel-item .imgContainer > img:first-of-type {
  height: 100%;
  z-index: 2;
  position: absolute;
}

.carousel-item .imgContainer > img:last-of-type {
  width: 100%;
  filter: blur(40px);
  z-index: 1;
  position: absolute;
}

.carousel-item .en-url {
  font-size: 0.6em;
  color: #fff;
}

@media (min-width: 40em) {
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }
}

/* card */

.card .card-text {
  min-height: 80px;
}

.card button a {
  text-decoration: none;
  color: #6c757d;
}

.card button:hover a {
  color: #fff;
}

.card .img_frame {
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  background-color: #fafafa;
}

.card .img_frame img {
  width: 100%;
}

.card-body .line {
  margin-top: 20px;
}

.card-body .en-url {
  font-size: 0.875em;
}

/* nav */

nav {
  padding: 20px;
  background-color: #f8f9fa;
}

a.page-link {
  cursor: pointer;
}
